<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="../static/css/stylesheet-about.css">
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">

        <title>About Page</title>

        <style>
            body{
                background-image: url("/static/images/AI-in-cybersecurity.png");
                background-size: cover;
                background-position: center;
                
                background-attachment: fixed;
                background-repeat: no-repeat;

            }
        </style>

    </head>

    <body>
        <div class="main">
            <ul class="nav">
                <li><a href="home">Home</a></li>
                <li><a href="about">About</a></li>
                {% if current_user.is_authenticated %}
                    <li><a href="account">Account</a></li>
                    <li><a href="test">Validate</a></li>
                    <li><a href="logout">Logout</a></li>
                {% else %}
                    <li><a href="login">Login</a></li>
                    <li><a href="register">Register</a></li>
                {% endif %}
            </ul>
        </div>

        
        <div class="description">
            <p>
                Cyber Prime scrutinizes websites and links with the aim of providing a safe web experience.
                It incorporates Machine Learning algorithms which predict Malicious content thereby ensuring the safety of digital devices and personal information.
                Stay safe with 24/7 protection.
            </p>
        </div>


    </body>

</html>