<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="../static/css/stylesheet-twitter-table.css">
        

        <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
        
        <title>WebScrap Page</title>

        <style>
            body{
                background-image: url("/static/images/AI-in-cybersecurity.png");
                background-size: cover;
                background-position: center;
                
                background-attachment: fixed;
                background-repeat: no-repeat;

            }
        </style>

    </head>

    <body>
        <div class="main">
            <ul class="nav">
                <li><a href="home">Home</a></li>
                {% if current_user.is_authenticated %}
                    <li><a href="account">Account</a></li>
                    <li><a href="test">Validate</a></li>
                    <li><a href="twitter">Social Media</a></li>
                    <li><a href="logout">Logout</a></li>
                {% else %}
                    <li><a href="login">Login</a></li>
                    <li><a href="register">Register</a></li>
                {% endif %}
            </ul>
        </div>

        <table class="twt-table">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Profile Link</th>
                    <th>Tweet Link</th>
                    <th>Link Posted</th>
                </tr>    
            </thead>
            
            <tbody>
                {% for i in table %}
                <tr> 
                    <td>{{ i[0] }}</td> 
                    <td>{{ i[1] }}</td>
                    <td>{{ i[2] }}</td>
                    <td>{{ i[3] }}</td> 
                </tr> 
                {% endfor %}
            </tbody>
        </table>
    
    </body>

</html>